Это "микрокурс"   платформы

https://www.kaggle.com/learn/pandas

В нем вы узнаете все о **[pandas](http://pandas.pydata.org)**,  популярyой библиотеки Python для анализа данных.

По пути выполните несколько практических упражнений с реальными данными.  Рекомендуется вам работать над упражнениями, читая соответствующие учебные пособия.  


В этом уроке вы узнаете, как создавать свои собственные данные, а также как работать с уже существующими данными.  

# Начало работы

Чтобы использовать pandas, модуль нужно импортировать.

In [2]:
import pandas as pd

# Создание данных

В pandas есть два основных объекта:  **DataFrame** и  **Series**.

### DataFrame

DataFrame - это таблица. Она содержит массив отдельных *записей*, каждая из которых имеет определенное *значение*. Каждая запись соответствует строке (или *записи*) и столбцу*.

Например, рассмотрим следующий простой фрейм данных:

In [3]:
pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})

   Yes   No
0   50  131
1   21    2

In [4]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']})

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.

Мы используем конструктор `pd.DataFrame()` для создания этих объектов DataFrame. Синтаксис для объявления нового - это словарь, ключами которого являются имена столбцов ("Боб" и " Сью " в этом примере), а значениями-список записей. Это стандартный способ построения нового фрейма данных, с которым вы, скорее всего, столкнетесь.

Конструктор словаря-списка присваивает значения меткам столбцов*, но просто использует восходящий счетчик из 0 (0, 1, 2, 3, ...) для меток *строк*. Иногда это нормально, но часто мы сами хотим присвоить эти ярлыки.

Список меток строк, используемых во фрейме данных, называется индексом**. Мы можем присвоить ему значения, используя параметр "индекс" в нашем конструкторе:

In [4]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

### Series

Series, напротив, представляет собой последовательность значений данных. Вы можете создать его только со списком::

In [5]:
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

Series это, по сути, один столбец фрейма данных. Таким образом, вы можете назначить значения столбцов Series так же, как и раньше, используя параметр "индекс". Однако ряд не имеет имени столбца, у него есть только одно общее "имя":

In [6]:
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

# Чтение файлов данных

Возможность создавать DataFrame или Series вручную очень удобна. Но в большинстве случаев работают с данными, которые уже существуют.

Данные могут храниться в любом из множества различных форм и форматов. Безусловно, самым основным из них является скромный CSV-файл. Когда вы открываете CSV файл вы получаете что то похожее на это:

```
Product A,Product B,Product C,
30,21,9,
35,34,1,
41,11,11
```

Таким образом, CSV-файл-это таблица значений, разделенных запятыми. Отсюда и название: "Значения, разделенные запятыми", или CSV.

Давайте теперь отложим наши игрушечные наборы данных и посмотрим, как выглядит реальный набор данных, когда мы читаем его в фрейм данных. Мы будем использовать функцию `pd.read_csv()` для чтения данных в фрейм данных. Это происходит так:

In [5]:
wine_reviews = pd.read_csv("https://github.com/davestroud/Wine/raw/master/winemag-data-130k-v2.csv")

Мы можем использовать атрибут `shape`, чтобы проверить, насколько велик результирующий фрейм

In [6]:
wine_reviews.shape

(129971, 14)

Таким образом, наш новый фрейм данных содержит почти 130 000 строк, разбитых на 14 различных столбцов. Это почти 2 миллиона записей!

Мы можем изучить содержимое результирующего фрейма данных с помощью команды head (), которая захватывает первые пять строк:

In [9]:
wine_reviews.head(1)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia

Функция 'pd.read_csv()' в библиотеке поставляется с  более чем 30 дополнительными параметрами, которые вы можете указать. Например, в этом наборе данных вы можете видеть, что CSV-файл имеет встроенный индекс, который панды не подхватили автоматически. Чтобы панды использовали этот столбец для индекса (вместо того, чтобы создавать новый с нуля), мы можем указать " index_col`.




[-]

In [ ]:
wine_reviews = pd.read_csv("../input/wine-reviews/winemag-data-130k-v2.csv", index_col=0)
wine_reviews.head()

Прочитать можно здесь 
https://khashtamov.com/ru/pandas-introduction/
и здесь
https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf